# General
*.log
*.swp
*.swo
.DS_Store
*.bak
*.tmp
.idea/

# Rust
/target
**/target
**/*.rs.bk
Cargo.lock

# WebAssembly
wasm/pkg/
wasm/target/
wasm/*.xcodeproj

# Flutter and Dart
flutter/.packages
flutter/.flutter-plugins
flutter/.pub/
flutter/.pub-cache/
flutter/build/
flutter/lib/ios/**.a
#flutter/lib/android/
*.jks
*.keystore
/keys.properties

# Node.js
node_modules/
npm-debug.log
yarn-error.log
